.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 0.25rem;
}

.row {
  display: flex;
  gap: 0.35rem;
  font-size: 0.8125rem;
}

.label {
  font-weight: 700;
  white-space: nowrap;
}

.value {
  font-weight: 400;
}
