@use '@carbon/colors';
@use '@carbon/layout';

.groupReportsContainer {
  padding: layout.$spacing-05;
  background-color: colors.$white;
}

.filterDropdown {
  min-width: layout.$spacing-13 * 1.5;
  border-bottom: none;

  & > div {
    border-bottom: none !important;
  }
}

.filtersContainer {
  display: flex;
  align-items: flex-end;
}
