@use '@carbon/colors';
@use '@carbon/layout';

.groupReportsContainer {
  margin: layout.$spacing-05;
}

.reportGroupPanel {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-05;
  padding-top: layout.$spacing-05;
}
