@use '@carbon/layout';

.wrapper {
  display: grid;
  gap: layout.$spacing-06;
  margin-top: layout.$spacing-06;
}

.sectionHeader,
.fluidSectionHeader {
  display: grid;
  gap: layout.$spacing-02;
}

.sectionHeader h3,
.fluidSectionHeader h3 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
}

.sectionHeader p,
.fluidSectionHeader p {
  margin: 0;
  line-height: 1.45;
}

.sectionMeta {
  font-size: 0.875rem;
  opacity: 0.85;
}
