@use '@carbon/layout';
@use '@carbon/colors';
@use '@carbon/type';

.dataTableContainer {
  height: 100%;
  margin: layout.$layout-01;
}

.container {
  border: 1px solid colors.$gray-20;

  :global(.cds--table-toolbar) {
    position: relative !important;
  }
}

.statusFilter {
  display: flex;
  align-items: center;
  min-width: 12rem;
  border-bottom: none;
}

.refreshAction {
  display: flex;
  align-items: center;
  gap: layout.$spacing-03;
  justify-content: flex-end;
}

.refreshStatus {
  min-width: 7.5rem;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: layout.$spacing-07;
  background-color: colors.$gray-10;
  row-gap: layout.$spacing-03;
}

.emptyStateContent {
  @include type.type-style('body-compact-01');
  color: colors.$cool-gray-70;
  margin: 0;
}
